@import "styles/constants.scss";
@import "styles/mixins.scss";
@import "styles/media-queries.scss";

.homepage_container {
	@include minHeight;
}

.homepage_container .image {
	height: 500px;
	width: 800px;

	@include small-down {
		height: 360px;
		width: 600px;
	}

	@include xsmall-only {
		width: 300px;
		height: 175px;
	}
}

.homepage_container h1,
.homepage_container h1 + div {
	@include absoluteCenter;
}

.homepage_container h1 {
	@include bimboJumbo;
	text-align: center;
	font-size: 128px;
	white-space: nowrap;
	color: $red;
	z-index: 1;
	@include small-down {
		font-size: 96px;
	}
	@include xsmall-only {
		font-size: 70px;
	}
}
