$black: black;
$yellow: #fff584;
$red: #ff6961;
$blue: #4a26c0;
$pink: #ffbdf3;
$purple: #d466e0;
$turqouise: #00cc99;
$green: #e0ff69;
$tan: #eee2d3;

$page_padding: 20px;

$breakpoint_small: 600;
$breakpoint_medium: 1024;
$breakpoint_large: 1440;
$breakpoint_xl: 1920;

$z_index_img_hover: 10;
$z_index_header: 100;
