@import "styles/constants.scss";
@import "styles/media-queries.scss";

@mixin absoluteCenter($top: 50%, $left: 50%) {
	position: absolute;
	top: $top;
	left: $left;
	transform: translate(-50%, -50%) !important;
}

@mixin fullPage {
	height: 100vh;
	width: 100vw;
}

@mixin minHeight {
	min-height: 100vh;
}

@mixin headerGrid {
	padding: 20px 0px 0px 20px;
	display: grid;
	gap: 20px;
	@include xsmall-only {
		left: 10px;
		top: 0;
	}
}

@mixin h1Styling {
	h1 {
		@include bimboJumbo;
		font-size: 50px;
		display: inline-block;
		text-transform: lowercase;
		@include small-down {
			font-size: 36px;
		}
	}
}

@mixin h2Styling {
	h2 {
		@include neutralFace;
		font-size: 28px;
		text-transform: lowercase;
		@include xsmall-only {
			font-size: 20px;
		}
	}
}

@mixin headerText {
	@include h1Styling;
	p {
		@include neutralFace;
		font-size: 24px;
		text-transform: uppercase;
		max-width: 70%;
		@include small-down {
			font-size: 20px;
			max-width: unset;
		}
	}
}

@mixin pagePadding {
	padding: $page-padding;
}

@mixin bimboJumbo {
	font-family: "Bimbo-Jumbo";
}
@mixin neutralFace {
	font-family: "Neutral-Face";
}

$colors: $yellow, $red, $blue, $pink, $purple, $turqouise, $green, $tan;

@mixin imageAnimation($key: 1) {
	animation: backgroundChange 1.5s;
	$nth: nth($colors, $key);
	$random: $nth !default;

	@keyframes backgroundChange {
		from {
			background-color: $random;
		}
		80% {
			background-color: $random;
		}
		to {
			background-color: transparent;
		}
	}
}
